.tab-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@keyframes app-tab-panel-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes app-tab-panel-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
