# frontend Files
frontend/node_modules/
backend/webserver/web/frontend/

# Go Binaries
/linuxio
linuxio-webserver
linuxio-auth
linuxio-bridge

.cache
.go-cache
.gocache

# Logs and misc
*.log
.DS_Store
.vscode/
.claude/
*.swp

