# React Files
react/node_modules/
react/package-lock.json

# Go Folders
backend/frontend/
backend/tmp/
backend/cmd/server/tmp/main
linuxio-bridge
linuxio-webserver

# Logs and misc
*.log
.DS_Store
.vscode/

# VSCode
.vscode/

# macOS / Linux
.DS_Store
*.swp

# Logs
*.log