body {
  background: #f7f9fc !important;
}

.dark-mode {
  --background: #1b2635 !important;
}

#loading {
  background: #f7f9fc !important;
}

.dark-mode #loading {
  background: #1b2635 !important;
}

/* Hide the sidebar when it does NOT have the "active" class */
#sidebar {
  display: none !important;
}

/* To remove the theme transition */
* {
  transition: none !important;
}
#app {
  transition: none !important;
}

/* To remove the logout button */
button.logout-button {
  display: none !important;
}

/* To keep the size selector on the right */
#breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gallery-size.card {
  margin-left: auto !important;
}

/* Hide the "Switch view" button */
button[aria-label="Close" i],
button[title="Close" i] {
  display: none !important;
}
