body {
  background: #f7f9fc !important;
}

.dark-mode {
  --background: #1b2635 !important;
}

#loading {
  background: #f7f9fc !important;
}

.dark-mode #loading {
  background: #1b2635 !important;
}

/* Hide the sidebar when it does NOT have the "active" class */
#sidebar:not(.active) {
  display: none !important;
}

/* To remove the theme transition */
* {
  transition: none !important;
}
#app {
  transition: none !important;
}

/* To hide the sidebar button */

#button-toggle-sidebar {
  display: none !important;
}

/* To keep the switch view button on the right */
.menu-button {
  margin-left: auto !important;
}

#breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gallery-size.card {
  margin-left: auto !important;
}
