.search-bar {
  max-width: 400px;
}

.search-bar .app-text-field__wrapper {
  border-radius: 24px;
  background-color: var(--app-header-search-bg);
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  border: none;
}

.search-bar .app-text-field__outline {
  display: none;
}

.search-bar .app-text-field__wrapper:hover {
  background-color: var(--app-header-search-bg-hover);
}

.search-bar.app-text-field--focused .app-text-field__wrapper {
  background-color: var(--app-header-search-bg-hover);
  box-shadow: 0 0 0 1px var(--color-primary);
}
