[Unit]
Description=LinuxIO Authentication Socket
Documentation=https://github.com/mordilloSan/LinuxIO
Requires=linuxio-bridge-socket-user.service
After=linuxio-bridge-socket-user.service

[Socket]
ListenStream=/run/linuxio/auth.sock
SocketUser=root
SocketGroup=linuxio-bridge-socket
SocketMode=0660
DirectoryMode=0755
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
