[Unit]
Description=LinuxIO Dynamic user for bridge
Documentation=https://github.com/mordilloSan/LinuxIO
DefaultDependencies=no
PartOf=linuxio.target
Before=linuxio-auth.socket

[Service]
DynamicUser=yes
User=linuxio-bridge-socket
Group=linuxio-bridge-socket
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes
