[Unit]
Description=LinuxIO Web Server
Requires=linuxio.socket linuxio-bridge-socket-user.service
After=linuxio.socket linuxio-bridge-socket-user.service network-online.target

[Service]
DynamicUser=yes
Group=linuxio-bridge-socket
ExecStart=/usr/local/bin/linuxio run
Restart=on-failure
RestartSec=5s

# Security hardening
PrivateTmp=true
ProtectSystem=full
ProtectHome=no
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictNamespaces=true
RestrictRealtime=true
DevicePolicy=closed
PrivateDevices=true
NoNewPrivileges=yes
UMask=0027
RemoveIPC=true
SystemCallFilter=~@keyring @cpu-emulation @debug @module @obsolete @raw-io @reboot @swap
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
