[Unit]
Description=LinuxIO Web Server
Documentation=https://github.com/mordilloSan/LinuxIO
PartOf=linuxio.target
Requires=linuxio-webserver.socket linuxio-auth.socket
After=linuxio-webserver.socket linuxio-auth.socket network-online.target

[Service]
DynamicUser=yes
Group=linuxio-bridge-socket
ExecStart=/usr/local/bin/linuxio-webserver run
Restart=on-failure
RestartSec=5s

# Security hardening
PrivateTmp=true
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictNamespaces=true
RestrictRealtime=true
DevicePolicy=closed
PrivateDevices=true
NoNewPrivileges=yes
UMask=0027
RemoveIPC=true
SystemCallFilter=~@keyring @cpu-emulation @debug @module @obsolete @raw-io @reboot @swap
SystemCallErrorNumber=EPERM
PrivateIPC=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
