[Unit]
Description=LinuxIO Web Server
Wants=network-online.target
After=network-online.target

[Service]
User=linuxio
Group=linuxio
SupplementaryGroups=docker
ExecStart=/usr/local/bin/linuxio run --env=production --socket-activation=off --port=8090
Restart=on-failure
RestartSec=5s

# Security hardening 
PrivateTmp=false
ProtectSystem=strict
ProtectHome=false
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
LockPersonality=true
MemoryDenyWriteExecute=true
RestrictNamespaces=true
RestrictRealtime=true
DevicePolicy=closed
PrivateDevices=true
UMask=0027
ReadOnlyPaths=/etc/linuxio

[Install]
WantedBy=multi-user.target
