[Unit]
Description=LinuxIO Web Server (TCP socket)
Documentation=https://github.com/mordilloSan/LinuxIO
PartOf=linuxio.target
Wants=linuxio-issue.service

[Socket]
ListenStream=0.0.0.0:8090

# Tuning
Backlog=4096
NoDelay=true
ReusePort=false

RemoveOnStop=true

[Install]
WantedBy=linuxio.target
