[Unit]
Description=Periodically run the LinuxIO filesystem index
Documentation=https://github.com/mordilloSan/LinuxIO
PartOf=linuxio.target
Requisite=linuxio-indexer.socket
After=linuxio-indexer.socket

[Timer]
OnActiveSec=5m
OnUnitActiveSec=1h
AccuracySec=1min
Unit=linuxio-indexer-index.service

[Install]
WantedBy=linuxio.target
