[Unit]
Description=LinuxIO Authentication Service
Documentation=https://github.com/mordilloSan/LinuxIO
Requires=linuxio-auth.socket
After=linuxio-auth.socket

[Service]
ExecStart=/usr/local/bin/linuxio-auth-helper
Restart=on-failure
RestartSec=5s
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/run/linuxio

[Install]
WantedBy=multi-user.target
