/* Responsive grid columns for containers list */
.dd-containers-grid {
  display: grid;
  grid-template-columns: 1fr 80px;
}
@media (min-width: 600px) {
  .dd-containers-grid {
    grid-template-columns: 1fr 220px 80px 80px;
  }
}

/* Responsive grid columns for images list */
.dd-images-grid {
  display: grid;
  grid-template-columns: 1fr 80px;
}
@media (min-width: 600px) {
  .dd-images-grid {
    grid-template-columns: 1fr 80px 80px 80px;
  }
}

.dd-hidden-xs {
  display: none;
}

@media (min-width: 600px) {
  .dd-hidden-xs {
    display: block;
  }
}
